.App {
  display: block;
}

.App-logo {
  height: 10vmin;
  margin: 2vmin;
  align-items: center;
}

.App-header {
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3vmin;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.input-field {
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

main {
  display: flex;
}